.accordionjs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.accordionjs .acc_section {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.accordionjs .acc_section .acc_head {
  position: relative;
  display: block;
  cursor: pointer;
}
.accordionjs .acc_section .acc_head h3 {
  line-height: 1;
}
.accordionjs .acc_section .acc_content {
}
.accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.accordionjs .acc_section.acc_active > .acc_content {
  display: block;
}
.accordionjs .acc_section.acc_active > .acc_head {
}
